 /* Base styles for the entire page */
#first-page-body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100vh;
    background: linear-gradient(to top, #00c3ff68, #db3a3ac0);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.header {
    display: flex;
    justify-content: center; /* Center the contents horizontally */
    align-items: center; /* Center the contents vertically */
    position: relative; /* Position relative for absolute children if needed */
    top: 0; /* Reset top if previously set */
    width: 100%; /* Full width */
    padding-top: 184px; /* Adjust top padding to position the group at the desired height */
    height: auto; /* Adjust height to fit contents */
}

.logo {
    width: 195.68px; /* Set width of the logo */
    height: 84px; /* Set height of the logo */
    margin-right: 10px; /* Space between logo and title */
}

.title {
    font-size: 64px; /* Font size of the title */
    color: #ffffff; /* Color of the text */
    font-family: 'Proza Libre', sans-serif; /* Ensure this matches the font family name used in your font import */
    margin: 0; /* Reset margin to remove unwanted space */
}



.profile-picture-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: auto; /* Changed from 100vh to auto */
    padding-top: 292px; /* Control top spacing directly */
    padding-bottom: 50px; /* Additional padding to control space below the image */
}

.profile-picture {
    position: relative; /* Changed from absolute if no longer needed to be positioned from top of viewport */
    margin: 0 auto; /* Centering horizontally if flex properties are not enough */
    width: 270px; /* Fixed width */
    height: 270px; /* Fixed height */
    border-radius: 50%;
}


.modal {
    display: none;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #3b3b3b;
    padding: 20px;
    z-index: 10;
    width: 30vw;
    height: 50vh;
    max-width: 50vw;
    max-height: 50vh;
    overflow: auto;
}

.modal img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

#close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    font-size: 1vw;
    text-decoration: underline;
}

#outerbox {
    position: relative; /* Essential for positioning its children absolutely */
    width: 100%; /* Full width to cover the parent/container */
    min-height: 1500px; /* Ensuring sufficient space for positioning elements */
}
.cube-container {
    position: relative;
    width: 80%; /* Set the width to 80% of the viewport width */
    max-width: 1200px; /* You can adjust this value based on your design requirements */
    margin: 0 auto; /* Center the container horizontally */
    padding-top: 50px; /* Add some space on the top inside the container */
    padding-bottom: 50px; /* Add some space on the bottom inside the container */
}

#box1 {
    position: absolute;
    left: 50%; /* Center the element horizontally within the outerbox */
    top: 284px; /* Adjusted top position */
    transform: translateX(-50%); /* Horizontally center the element */
    width: 267.52px; /* Exact width of the Purple Cube */
    height: 296px; /* Exact height of the Purple Cube */
    background-image: url("images/purple cube.png"); /* Image for the Purple Cube */
    background-repeat: no-repeat;
    background-size: cover; /* Cover the dimensions of the box */
    transition: filter 0.3s ease-in-out; /* Smooth transition for the shadow effect */
}

#box1:hover {
    filter: drop-shadow(18px 18px 18px rgba(149, 107, 229, 0.6)); /* Apply a drop-shadow that follows the shape of the PNG */
}

#box2 { /* Specific styles for the Yellow Cube */
    position: absolute;
    left: 28%; /* Position the element 19% from the left of the container */
    top: 558px; /* Position the top of the element at 1258px from the top of the container */
    width: 193px; /* Exact width of the Yellow Cube */
    height: 250px; /* Exact height of the Yellow Cube */
    background-image: url("images/yellow-cube.png"); /* Image for the Yellow Cube */
    background-repeat: no-repeat;
    background-size: cover; /* Ensure the image covers the entire area of the box */
}
#box2:hover {
    filter: drop-shadow(15px 15px 15px rgba(247, 177, 64, 0.6)); /* Apply a drop-shadow that follows the shape of the PNG */
}
#box3 {
    position: absolute;
    left: 50%; /* Center the element horizontally within the outerbox */
    top: 710px; /* Adjusted top position */
    transform: translateX(-50%); /* Horizontally center the element */
    width: 320px; /* Exact width of the Purple Cube */
    height: 350px; /* Exact height of the Purple Cube */
    background-image: url("images/blue cube.png"); /* Image for the Purple Cube */
    background-repeat: no-repeat;
    background-size: cover; /* Cover the dimensions of the box */
    transition: filter 0.3s ease-in-out; /* Smooth transition for the shadow effect */
}

#box3:hover {
    filter: drop-shadow(28px 28px 28px rgba(107, 164, 229, 0.6)); /* Apply a drop-shadow that follows the shape of the PNG */
}
#box4 {
    position: absolute;
    left: 22%; /* Center the element horizontally within the outerbox */
    top: 900px; /* Adjusted top position */
    transform: translateX(-50%); /* Horizontally center the element */
    width: 220px; /* Exact width of the Purple Cube */
    height: 230px; /* Exact height of the Purple Cube */
    background-image: url("images/orange cube.png"); /* Image for the Purple Cube */
    background-repeat: no-repeat;
    background-size: cover; /* Cover the dimensions of the box */
    transition: filter 0.3s ease-in-out; /* Smooth transition for the shadow effect */
}

#box4:hover {
    filter: drop-shadow(12px 12px 12px rgba(220, 116, 43, 0.6)); /* Apply a drop-shadow that follows the shape of the PNG */
}
#box5 {
    position: absolute;
    left: 40%; /* Center the element horizontally within the outerbox */
    top: 1150px; /* Adjusted top position */
    transform: translateX(-50%); /* Horizontally center the element */
    width: 188px; /* Exact width of the Purple Cube */
    height: 196px; /* Exact height of the Purple Cube */
    background-image: url("images/pink cube.png"); /* Image for the Purple Cube */
    background-repeat: no-repeat;
    background-size: cover; /* Cover the dimensions of the box */
    transition: filter 0.3s ease-in-out; /* Smooth transition for the shadow effect */
}

#box5:hover {
    filter: drop-shadow(12px 12px 12px rgba(202, 47, 99, 0.6)); /* Apply a drop-shadow that follows the shape of the PNG */
}
#box6 {
    position: absolute;
    left: 65%; /* Center the element horizontally within the outerbox */
    top: 1150px; /* Adjusted top position */
    transform: translateX(-50%); /* Horizontally center the element */
    width: 192px; /* Exact width of the Purple Cube */
    height: 246px; /* Exact height of the Purple Cube */
    background-image: url("images/dark yellow cube.png"); /* Image for the Purple Cube */
    background-repeat: no-repeat;
    background-size: cover; /* Cover the dimensions of the box */
    transition: filter 0.3s ease-in-out; /* Smooth transition for the shadow effect */
}

#box6:hover {
    filter: drop-shadow(12px 12px 12px rgba(255, 172, 89, 0.6)); /* Apply a drop-shadow that follows the shape of the PNG */
}

#box7 {
    position: absolute;
    left: 70%; /* Center the element horizontally within the outerbox */
    top: 530px; /* Adjusted top position */
    transform: translateX(-50%); /* Horizontally center the element */
    width: 250px; /* Exact width of the Purple Cube */
    height: 330px; /* Exact height of the Purple Cube */
    background-image: url("images/light green cube.png"); /* Image for the Purple Cube */
    background-repeat: no-repeat;
    background-size: cover; /* Cover the dimensions of the box */
    transition: filter 0.3s ease-in-out; /* Smooth transition for the shadow effect */
}

#box7:hover {
    filter: drop-shadow(12px 12px 12px rgba(39, 232, 229, 0.6)); /* Apply a drop-shadow that follows the shape of the PNG */
}

#box8 {
    position: absolute;
    left: 55%; /* Center the element horizontally within the outerbox */
    top: 1400px; /* Adjusted top position */
    transform: translateX(-50%); /* Horizontally center the element */
    width: 140px; /* Exact width of the Purple Cube */
    height: 183px; /* Exact height of the Purple Cube */
    background-image: url("images/light blue cube.png"); /* Image for the Purple Cube */
    background-repeat: no-repeat;
    background-size: cover; /* Cover the dimensions of the box */
    transition: filter 0.3s ease-in-out; /* Smooth transition for the shadow effect */
}

#box8:hover {
    filter: drop-shadow(12px 12px 12px rgba(39, 110, 232, 0.6)); /* Apply a drop-shadow that follows the shape of the PNG */
} 

#box9 {
    position: absolute;
    left: 80%; /* Center the element horizontally within the outerbox */
    top: 900px; /* Adjusted top position */
    transform: translateX(-50%); /* Horizontally center the element */
    width: 200px; /* Exact width of the Purple Cube */
    height: 210px; /* Exact height of the Purple Cube */
    background-image: url("images/green cube.png"); /* Image for the Purple Cube */
    background-repeat: no-repeat;
    background-size: cover; /* Cover the dimensions of the box */
    transition: filter 0.3s ease-in-out; /* Smooth transition for the shadow effect */
}

#box9:hover {
    filter: drop-shadow(12px 12px 12px rgba(39, 232, 177, 0.6)); /* Apply a drop-shadow that follows the shape of the PNG */
} 

@media (max-width: 767px) {
    #outerbox {
        min-height: 2000px; /* Increased minimum height for repositioned elements */
    }
    #box1, #box2 {
        width: 80%; /* Responsive width adjustment for smaller screens */
        height: auto; /* Maintain aspect ratio */
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #outerbox {
        min-height: 1500px; /* Adequate space for positioning */
    }
}

@media (min-width: 992px) {
    #outerbox {
        min-height: 1500px; /* Ensuring sufficient space for fixed positioning */
    }
}

/* General Styles */
#second-page-body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #afffcf, #4A6896);
    overflow: hidden; /* Prevent background scrolling when popup is displayed */
}

.container {
    width: 800px;
    position: relative; /* Added position relative to contain popup */
}

.table {
    margin-top: 100px;
    display: table;
    width: 100%;
}

.row {
    display: table-row;
}

.box {
    display: table-cell;
    width: 25%;
    padding: 25px;
    box-sizing: border-box;
    text-align: center;
    transition: transform 0.3s; /* Smooth transition for hover effect */
}

.box:hover {
    transform: translateY(-5px); /* Move the card up slightly on hover */
}

.box:active {
    transform: translateY(0); /* Reset position when card is pressed */
}

.box img {
    max-width: 100%;
}

/* Popup Styles */
#popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999; /* Ensure popup appears on top of everything */
    overflow: auto; /* Enable scrolling for popup content */
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px; /* Set width of the popup */
    height: 800px; /* Set height of the popup */
    background-color: rgba(243, 243, 243, 0); /* Set background color to transparent */
    padding: 20px;
    border-radius: 24px; /* Set border radius */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent white background */
    padding: 8px 12px; /* Padding around the close button */
    border-radius: 15%; /* Rounded corners to create a circular shape */
    border: none; /* Remove border */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.close:hover {
    background-color: rgba(255, 128, 128, 0.2); /* Fully opaque white background on hover */
}


.close::after,
.close::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px; /* Width of the lines */
    height: 15px; /* Height of the lines */
    background-color: #333; /* Color of the lines */
}

.close::after {
    transform: translate(-50%, -50%) rotate(45deg); /* Diagonal line */
}

.close::before {
    transform: translate(-50%, -50%) rotate(-45deg); /* Diagonal line */
}



.popup-text {
    margin-top: 20px;
    font-size: 16px; /* Increased font size */
    text-align: left;
    font-family: 'Mina', sans-serif; /* Set font family */
}

.popup-text h1 {
    font-size: 28px; /* Increased font size */
    font-family: 'Montserrat', sans-serif; /* Set font family */
}

a.goBack {
    position: fixed;
    bottom: 20px;
    left: 20px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #418d63; /* Background color */
    color: #FFFFFF; /* Text color */
    text-decoration: none; /* Remove underline */
    border-radius: 5px; /* Rounded corners */
    font-family: 'Montserrat', sans-serif; /* Font family */
    font-size: 16px; /* Font size */
    transition: background-color 0.3s ease; /* Smooth transition */
}

a.goBack:hover {
    background-color: #37474F; /* Darker background color on hover */
}
